#main-tabs {
    height: 1fr;
}

TabPane {
    padding: 0;
}

#providers-pane,
#channels-pane,
#favorites-pane,
#logs-pane {
    layout: vertical;
    height: 1fr;
    padding: 1;
}

#providers-pane {
    min-width: 30;
}

#provider-actions {
    layout: horizontal;
    padding-top: 1;
}

#channel-list,
#favorites-list,
#log-viewer {
    height: 1fr;
}

#channel-info-panels {
    layout: horizontal;
    height: auto;
}

#channel-info-container,
#playing-info-container {
    layout: vertical;
    width: 1fr;
}

#channel-actions {
    layout: horizontal;
}

#channel-info,
#playing-channel-info,
#favorites-help {
    padding: 1;
}

#channel-info,
#playing-channel-info {
    border: heavy $surface;
    width: 1fr;
    min-height: 5;
}

#log-viewer {
    border: heavy $surface;
    padding: 0 1;
    overflow-y: auto;
}

StatusBar {
    padding: 0 1;
}
